@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
  font-family: 'Varela Round', sans-serif;
}
@function set-color($bg-color) {
  @if (lightness($bg-color) > 30) {
    @return #000;
  }
  @else {
    @return #f5f5f5;
  }
}

$bg-color:#4e9ec6;  
$color: set-color($bg-color);

.mainCont{
  margin-top: 10rem;
}
.container {
width: 100%;
max-width: 1000px;
margin: 0 auto;
min-height: 40vh;
}

.footer {
margin-bottom:  4rem;

}

.box {
display: inline-block;
float: left;
width: 160px;
position: relative;
height: 160px;
border: 1px solid $color;
z-index: 0;
transition: all .3s ease;
opacity: 1;
margin-right:  -1px;

&:hover {
 z-index: 10;

 
}

&:before, &:after {
  content: "";
  display: block;
  position: absolute;
  background: $bg-color;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  opacity: 1;
  
}
&:before {
  width: calc(100% + 2px);
  height: 100%;
  z-index: 1;
  transition: height 1s ease, opacity .8s ease;
 
}

&:after {
  height: calc(100% + 2px);
  width: 100%;
  z-index: 1;
  transition: width 1s ease, opacity .8s ease;

}

&:hover, &:focus{
  &:before {
    transition: height .2s ease , opacity .3s ease;
    height: 85%;
    opacity: .7;
    
  }
  
  &:after {
     transition: width .2s ease,  opacity .3s ease;
     width: 85%;
     opacity: .8;
  }
}

&__image {
  fill: $color;
  width: 60%;
  will-change: width;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%)  scale(1);
  transition: all .5s ease;
  z-index: 2;
}
}


/* ====================================== Effect card psuedo-element hover 2===================================================*/
.framCont{
 display: flex; 
 justify-content: center;
 margin: 1rem 0 5rem 0;
}
.wrap-image {
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 2px solid #4e9ec6;
    transition: all .25s ease-out;
  }
  &::before {
    background-color: #4e9ec6;
    top: -15px;
    left: -15px;
  }
  &::after {
    bottom: -15px;
    right: -15px;
  }
  &:hover {
    &::before {
      top: 15px;
      left: 15px;
    }
    &::after {
      bottom: 15px;
      right: 15px;
    }
  }
}

/* ====================================== Effect for fancy hover===================================================*/
.container {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
}

.post {
	display: flex;
	text-decoration: none;
	color: inherit;
	max-width: 400px;
	position: relative;
	padding: 2rem;
	box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px rgb(255, 254, 254);
	background-color: #FFF;
	cursor: pointer; 
	&:before {
		position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #4e9ec6;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}
	
	&:hover {
		.post-title {
			color: rgb(0, 0, 0);
		}
		&:before {
			transform: scaleY(1);
		}
	}
}

.post-title {
	position: relative;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.333;
	transition: .4s ease-out;
}
